{{template "base/head" .ctxData}}
<div role="main" aria-label="{{if .title}}{{.title}}{{else}}{{.ctxData.Title}}{{end}}" class="page-content soda-page soda-settings-shell soda-repository-settings soda-native-forms {{.pageClass}}" data-signed="{{if .ctxData.IsSigned}}true{{else}}false{{end}}">
	{{template "repo/header" .ctxData}}
	<div class="ui container soda-page-container">
		{{if .parentURL}}<a class="soda-settings-parent" href="{{.parentURL}}">{{svg "octicon-arrow-left" 16}} {{.parentTitle}}</a>{{end}}
		<div class="soda-settings-bar soda-repo-settings-bar">
			{{if not .formPage}}<h1 id="soda-settings-title" class="soda-p-title">{{if .title}}{{.title}}{{else}}{{.ctxData.Title}}{{end}}</h1>{{end}}
			{{template "repo/settings/navbar" .ctxData}}
		</div>
		<div class="soda-settings-layout">
		<div class="flex-container-main">
			{{template "base/alert" .ctxData}}
			{{/* block: repo-setting-content */}}

{{if false}}{{/* to make html structure "likely" complete to prevent IDE warnings */}}
		</div>
	</div>
</div>
</div>
{{end}}
