{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings lfs" "title" (ctx.Locale.Tr "repo.settings.lfs_findpointerfiles") "parentURL" .LFSFilesLink "parentTitle" (ctx.Locale.Tr "repo.settings.lfs"))}}
	<div class="repo-setting-content soda-repo-settings-detail soda-repo-settings-lfs-pointers">
		<h2 class="soda-settings-inventory-heading soda-p-heading">
			{{ctx.Locale.Tr "repo.settings.lfs_pointers.found" .NumPointers .NumAssociated .NumNotAssociated .NumNoExist}}
			{{if gt .NumAssociatable 0}}
				<div class="ui right">
					<form class="ui form" method="post" action="{{$.Link}}/associate">
						{{range .Pointers}}
							{{if .Associatable}}
								<input type="hidden" name="oid" value="{{.Oid}} {{.Size}}">
							{{end}}
						{{end}}
						<button class="ui primary tiny button">{{ctx.Locale.Tr "repo.settings.lfs_pointers.associateAccessible" $.NumAssociatable}}</button>
					</form>
				</div>
			{{end}}
		</h2>
		<div class="soda-p-section">
			{{if .Pointers}}
			<div class="soda-settings-table-scroll">
			<table id="lfs-files-table" class="ui fixed single line table">
				<thead>
					<tr>
						<th class="three wide">{{ctx.Locale.Tr "repo.settings.lfs_pointers.sha"}}</th>
						<th class="four wide">{{ctx.Locale.Tr "repo.settings.lfs_pointers.oid"}}</th>
						<th class="two wide">{{ctx.Locale.Tr "repo.settings.lfs_pointers.inRepo"}}</th>
						<th class="two wide">{{ctx.Locale.Tr "repo.settings.lfs_pointers.exists"}}</th>
						<th class="two wide" data-tooltip-content="{{ctx.Locale.Tr "repo.settings.lfs_pointers.accessible"}}">{{ctx.Locale.Tr "repo.settings.lfs_pointers.accessible"}}</th>
						<th class="three wide"></th>
					</tr>
				</thead>
				<tbody>
					{{range .Pointers}}
						<tr>
							<td>
								<a href="{{$.RepoLink}}/raw/blob/{{.SHA}}" rel="nofollow" target="_blank" title="{{.SHA}}" class="ui button tw-font-mono">
									{{ShortSha .SHA}}
								</a>
							</td>
							<td>
								<a {{if and .Exists .InRepo}}href="{{$.LFSFilesLink}}/show/{{.Oid}}" rel="nofollow" target="_blank"{{end}} title="{{.Oid}}" class="ui brown button tw-font-mono">
									{{ShortSha .Oid}}
								</a>
							</td>
							<td>{{if .InRepo}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</td>
							<td>{{if .Exists}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</td>
							<td>{{if .Accessible}}{{svg "octicon-check"}}{{else}}{{svg "octicon-x"}}{{end}}</td>
							<td class="tw-text-right">
								<a class="ui primary button" href="{{$.LFSFilesLink}}/find?oid={{.Oid}}&size={{.Size}}&sha={{.SHA}}">{{ctx.Locale.Tr "repo.settings.lfs_findcommits"}}</a>
							</td>
						</tr>
					{{end}}
				</tbody>
			</table>
			</div>
			{{else}}
				<div class="soda-empty soda-empty--page">{{template "custom/soda/empty_content" dict "Icon" "octicon-file" "Title" (ctx.Locale.Tr "repo.issues.filter_no_results")}}</div>
			{{end}}
		</div>
	</div>
{{template "repo/settings/layout_footer" .}}
