{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings runners")}}
<div class="repo-setting-content soda-repo-settings-detail soda-repo-settings-runner-setup">
	{{template "shared/actions/runner_setup" .}}
</div>
{{template "repo/settings/layout_footer" .}}
