{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository wiki start soda-repository-content soda-wiki-start">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui center segment tw-py-8">
			<img class="soda-wiki-welcome-art" src="{{AssetUrlPrefix}}/soda/forgejo/wiki-welcome-papercraft.png" width="1536" height="1024" alt="">
			<h2>{{ctx.Locale.Tr "repo.wiki.welcome"}}</h2>
			<p>{{ctx.Locale.Tr "repo.wiki.welcome_desc"}}</p>
			{{if and .CanWriteWiki (not .Repository.IsMirror)}}
				<a class="ui primary button" href="{{.RepoLink}}/wiki?action=_new">{{ctx.Locale.Tr "repo.wiki.create_first_page"}}</a>
			{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
