{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository labels soda-repo-labels">
	{{template "repo/header" .}}
	<div class="ui container soda-repo-labels-container">
		<div class="issue-navbar tw-mb-4 soda-toolbar soda-repo-labels-toolbar soda-p-toolbar">
			{{template "repo/issue/navbar" .}}
			{{if and (or .CanWriteIssues .CanWritePulls) (not .Repository.IsArchived)}}
				<button class="ui small primary new-label button">{{ctx.Locale.Tr "repo.issues.new_label"}}</button>
			{{end}}
		</div>
		{{if and (or .CanWriteIssues .CanWritePulls) (not .Repository.IsArchived)}}
			<div class="soda-repo-label-form">{{template "repo/issue/labels/label_new" .}}</div>
		{{end}}
		{{template "base/alert" .}}
		<div class="soda-repo-label-list">{{template "repo/issue/labels/label_list" .}}</div>
	</div>
</div>

{{if and (or .CanWriteIssues .CanWritePulls) (not .Repository.IsArchived)}}
	{{template "repo/issue/labels/edit_delete_label" .}}
{{end}}
{{template "base/footer" .}}
