{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository view issue pull soda-repo-thread">
	{{template "repo/header" .}}
	<div class="ui container soda-repo-thread-container">
		<div class="soda-repo-thread-title">{{template "repo/issue/view_title" .}}</div>
		{{if .Issue.IsPull}}
			{{template "repo/pulls/tab_menu" .}}
		{{end}}
		<div class="soda-repo-thread-content">{{template "repo/issue/view_content" .}}</div>
	</div>
</div>
{{template "base/footer" .}}
