{{/* Adapted from Forgejo 15.0.7 templates/admin/applications/oauth2_edit.tmpl, GPL-3.0-or-later.
Upstream: https://codeberg.org/forgejo/forgejo
Embedded source SHA-256: 4bf7bc194d224bd5093755568c72e051d0f42b9738ca1dbec2224e46db1130d5 */}}
{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin config" "hideArtwork" true)}}
	<div class="admin-setting-content soda-admin-details soda-admin-details--oauth2-edit">

		{{template "user/settings/applications_oauth2_edit_form" .}}
	</div>
{{template "admin/layout_footer" .}}
