{{$taskTitle := ctx.Locale.Tr "repo.settings.update_webhook"}}{{if .PageIsSettingsHooksNew}}{{$taskTitle = ctx.Locale.Tr "repo.settings.add_webhook"}}{{end}}
{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings new webhook" "title" $taskTitle "parentURL" (printf "%s/settings/hooks" .RepoLink) "parentTitle" (ctx.Locale.Tr "repo.settings.hooks") "formPage" true)}}
{{$CustomHeaderTitle := ctx.Locale.Tr "repo.settings.update_webhook"}}
		{{if .PageIsSettingsHooksNew}}{{$CustomHeaderTitle = ctx.Locale.Tr "repo.settings.add_webhook"}}{{end}}
<div class="soda-form-layout">
{{template "custom/soda/page_intro" dict "TitleID" "soda-form-title" "Title" $CustomHeaderTitle "Description" "Send selected events to an external integration." "Eyebrow" "" "Class" "soda-form-story"}}
<div class="soda-form-content">
	<div class="repo-setting-content soda-repo-settings-detail soda-repo-settings-webhook-new soda-settings-editor">

		{{template "webhook/new" (dict "ctxData" . "CustomHeaderTitle" $CustomHeaderTitle "SettingsPresentation" true)}}
	</div>
</div>
</div>
{{template "repo/settings/layout_footer" .}}
