{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings webhooks")}}
	<div class="repo-setting-content soda-repo-settings-detail soda-repo-settings-webhook-base">
		{{template "repo/settings/webhook/list" .}}
	</div>
{{template "repo/settings/layout_footer" .}}
