{{if .PersonalSettings}}{{template "repo/settings/webhook/base_list_body" .}}{{else}}{{template "repo/settings/webhook/base_list_body" (dict "ctxData" .)}}{{end}}
{{define "repo/settings/webhook/base_list_body"}}{{$personal := .PersonalSettings}}{{$ := .ctxData}}{{with .ctxData}}
<h4 class="ui top attached header soda-webhook-list-header soda-p-heading">
	{{if not $personal}}{{.Title}}{{end}}
	<div class="ui right">
		<div class="ui jump dropdown">
			<div class="ui primary tiny button soda-p-compact">{{ctx.Locale.Tr "repo.settings.add_webhook"}}</div>
			{{template "repo/settings/webhook/link_menu" .}}
		</div>
	</div>
</h4>
<div class="ui attached segment soda-webhook-list soda-p-section">
	<div class="ui list">
		<div class="item">
			{{.Description}}
		</div>
		{{range .Webhooks}}
			<div class="item truncated-item-container">
				<span class="text {{if eq .LastStatus 1}}green{{else if eq .LastStatus 2}}red{{else}}grey{{end}} tw-mr-2">{{svg "octicon-dot-fill" 22}}</span>
				<div class="text truncate tw-flex-1 tw-mr-2">
					<a title="{{.URL}}" href="{{$.BaseLink}}/{{.ID}}">{{.URL}}</a>
				</div>
				<a class="muted tw-p-2" href="{{$.BaseLink}}/{{.ID}}">{{svg "octicon-pencil"}}</a>
				<a class="delete-button tw-p-2" data-url="{{$.Link}}/delete" data-id="{{.ID}}" data-modal-id="delete-webhook">{{svg "octicon-trash"}}</a>
			</div>
		{{end}}
	</div>
</div>

{{end}}{{end}}
