{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings edit githook" "title" .Hook.Name "parentURL" (printf "%s/settings/hooks/git" .RepoLink) "parentTitle" (ctx.Locale.Tr "repo.settings.githooks"))}}
	<div class="repo-setting-content soda-repo-settings-detail soda-repo-settings-githook-edit soda-settings-editor">
		<div class="soda-p-section">
			<p class="ui info message soda-notice">{{ctx.Locale.Tr "repo.settings.githook_edit_desc"}}</p>
			<form class="ui form soda-p-form" action="{{.Link}}" method="post">
				{{with .Hook}}
					<div class="inline field">
						<label>{{ctx.Locale.Tr "repo.settings.githook_name"}}</label>
						<span class="hook-filename">{{.Name}}</span>
					</div>
					<div class="field">
						<label for="content">{{ctx.Locale.Tr "repo.settings.githook_content"}}</label>
						<textarea id="content" name="content" class="tw-hidden">{{if .IsActive}}{{.Content}}{{else}}{{.Sample}}{{end}}</textarea>
						{{template "shared/codemirror_container" .}}
					</div>
					<div class="inline field">
						<button class="ui primary button">{{ctx.Locale.Tr "repo.settings.update_githook"}}</button>
					</div>
				{{end}}
			</form>
		</div>
	</div>
{{template "repo/settings/layout_footer" .}}
