{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings options" "title" (ctx.Locale.Tr "repo.settings.options"))}}
	<div class="user-main-content twelve wide column repo-setting-content soda-repo-settings-detail soda-repo-settings-options">
		{{template "repo/settings/options_repository" .}}

		{{template "repo/settings/options_federation" .}}

		{{template "repo/settings/options_mirrors" .}}

		{{template "repo/settings/options_trust" .}}

		{{template "repo/settings/options_maintenance" .}}

		{{template "repo/settings/options_danger" .}}
	</div>
{{template "repo/settings/layout_footer" .}}

{{template "repo/settings/options_modals" .}}
