{{/* Forgejo 15.0.7 user/profile.tmpl native block confirmation (GPL-3.0-or-later). */}}
<div class="ui g-modal-confirm delete modal" id="block-user">
	<div class="header">
		{{ctx.Locale.Tr "user.block_user"}}
	</div>
	<div class="content">
		<p>{{ctx.Locale.Tr "user.block_user.detail"}}</p>
		<ul>
			<li>{{ctx.Locale.Tr "user.block_user.detail_1"}}</li>
			<li>{{ctx.Locale.Tr "user.block_user.detail_2"}}</li>
			<li>{{ctx.Locale.Tr "user.block_user.detail_3"}}</li>
		</ul>
	</div>
	{{template "base/modal_actions_confirm" .}}
</div>
