{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository projects milestones soda-repository-content soda-projects-list">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "projects/list" .}}
	</div>
</div>
{{template "base/footer" .}}
