{{if and (or .PageIsExploreRepositories .PageIsExploreUsers .PageIsExploreOrganizations) (not .IsSigned)}}
			{{template "custom/soda/theme_toggle" dict}}
{{end}}

{{if and (or .PageIsExploreRepositories .PageIsExploreUsers .PageIsExploreOrganizations .PageIsNews) .IsSigned}}
  <a class="soda-account-appearance" href="{{AppSubUrl}}/user/settings/appearance" aria-label="{{ctx.Locale.Tr "settings.manage_themes"}}" title="{{ctx.Locale.Tr "settings.manage_themes"}}">{{svg "octicon-paintbrush" 21}}</a>
{{end}}
