<a id="soda-spaces-link" class="item" href="{{AppSubUrl}}{{if .IsSigned}}/?soda-view=spaces{{else}}/-/soda/spaces{{end}}">Spaces</a>
{{if .IsSigned}}<span id="soda-settings-link" hidden data-actor="{{.SignedUserID}}" data-sub-url="{{AppSubUrl}}" data-tailnet-label="{{ctx.Locale.Tr "soda.tailnet_title"}}"></span>{{end}}
{{template "custom/soda/guest_theme" (dict "Page" . "Placement" "navbar")}}

{{if and (or .PageIsExploreRepositories .PageIsExploreUsers .PageIsExploreOrganizations .PageIsNews .PageIsExploreCode .ContextUser .Repository .Org .PageIsUserSettings .PageIsAdmin) .IsSigned}}
  <a class="soda-account-appearance" href="{{AppSubUrl}}/user/settings/appearance" aria-label="{{ctx.Locale.Tr "settings.manage_themes"}}" title="{{ctx.Locale.Tr "settings.manage_themes"}}">{{svg "octicon-paintbrush" 21}}</a>
{{end}}
