{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content soda-page soda-auth soda-native-forms user signin{{if .LinkAccountMode}} icon{{end}}" data-signed="{{if .IsSigned}}true{{else}}false{{end}}">
	<div class="ui container soda-page-container soda-form-layout">
		{{if and (not .DisableRegistration) (not .LinkAccountMode)}}{{template "custom/soda/page_intro" dict "TitleID" "soda-form-title" "Title" (ctx.Locale.Tr "auth.create_new_account") "Description" "A shared home for your code and ideas." "Eyebrow" "Join Soda Forge" "Class" "soda-form-story"}}{{else}}{{template "custom/soda/page_intro" dict "TitleID" "soda-form-title" "Title" .Title "Description" "" "Eyebrow" "" "Class" "soda-form-story"}}{{end}}
<div class="soda-form-content">
			{{template "user/auth/signup_inner" .}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
