{{/* Stock Forgejo 15.0.7 content; artwork is scoped to the personal webhook list. */}}
{{template "user/settings/layout_head" (dict "ctxData" . "pageClass" "user settings webhooks" "artwork" "settings-webhooks-papercraft.png")}}
	<div class="user-setting-content">
		{{template "repo/settings/webhook/list" .}}
	</div>
{{template "user/settings/layout_footer" .}}
