{{/* Adapted from Forgejo 15.0.7 templates/user/settings/storage_overview.tmpl (GPL-3.0-or-later); upstream SHA-256 937c7c2516a6b888e1d1d643860f9a19c9df84276c2f87dd455dc72aea5f560c. */}}
{{template "user/settings/layout_head" (dict "ctxData" . "pageClass" "user settings size-overview" "title" (ctx.Locale.Tr "settings.storage_overview"))}}
<div class="user-setting-content">
	{{template "shared/quota_overview" .}}
</div>
{{template "user/settings/layout_footer" .}}
