{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository milestones soda-repo-milestones">
	{{template "repo/header" .}}
	<div class="ui container soda-repo-milestones-container">
		{{template "base/alert" .}}

		<div class="list-header list-header-issues soda-toolbar soda-repo-work-items-toolbar soda-p-toolbar">
			{{template "repo/issue/navbar" .}}
			{{template "repo/issue/search" .}}
			{{if and (or .CanWriteIssues .CanWritePulls) (not .Repository.IsArchived)}}
				<div class="button-row">
					<a class="ui small primary button" href="{{$.Link}}/new">{{ctx.Locale.Tr "repo.milestones.new"}}</a>
				</div>
			{{end}}
		</div>

		{{template "repo/issue/filters" .}}

		<!-- milestone list -->
		<div class="milestone-list soda-milestone-list">
			{{range .Milestones}}
				{{template "custom/soda/milestone_row" dict "Page" $ "Milestone" . "Link" (printf "%s/milestone/%d" $.RepoLink .ID) "Editable" (and (or $.CanWriteIssues $.CanWritePulls) (not $.Repository.IsArchived))}}
			{{end}}

			{{template "base/paginate" .}}
		</div>
	</div>
</div>

{{if or .CanWriteIssues .CanWritePulls}}
	<div class="ui g-modal-confirm delete modal" id="delete-milestone">
		<div class="header">
			{{svg "octicon-trash"}}
			{{ctx.Locale.Tr "repo.milestones.deletion"}}
		</div>
		<div class="content">
			<p>{{ctx.Locale.Tr "repo.milestones.deletion_desc"}}</p>
		</div>
		{{template "base/modal_actions_confirm" .}}
	</div>
{{end}}
{{template "base/footer" .}}
