{{template "base/head" .}}

<input type="hidden" id="repolink" value="{{$.RepoRelPath}}">
<input type="hidden" id="issueIndex" value="{{.Issue.Index}}">

<div role="main" aria-label="{{.Title}}" class="page-content repository view issue pull files diff soda-repo-thread soda-pull-files">
	{{template "repo/header" .}}
	<div class="ui container fluid padded soda-repo-thread-container soda-pull-files-container">
		<div class="soda-repo-thread-title">{{template "repo/issue/view_title" .}}</div>
		{{template "repo/pulls/tab_menu" .}}
		<div class="soda-pull-diff">{{template "repo/diff/box" .}}</div>
	</div>
</div>
{{template "base/footer" .}}
